# Pandas

In [1]:
#  importing libraries.

import pandas as pd

In [2]:
# creating a series data structure

In [3]:
lst = list(range(1,6))
lst

[1, 2, 3, 4, 5]

In [4]:
details = {'a':10,'b':20,'c':30}
details

{'a': 10, 'b': 20, 'c': 30}

In [5]:
s = pd.Series(details)     #(1 dimentional)
s

a    10
b    20
c    30
dtype: int64

In [6]:
s['b']

np.int64(20)

In [7]:
# DataFrame.    #(2 dimenional)

In [8]:
details = {'Names' : ['Ankita','Raj','Nikita'],
          'Age' : [23,24,27],
          'Location' : ['Pune','Mumbai','Goa']}
details

{'Names': ['Ankita', 'Raj', 'Nikita'],
 'Age': [23, 24, 27],
 'Location': ['Pune', 'Mumbai', 'Goa']}

In [9]:
pd.DataFrame(details)

    Names  Age Location
0  Ankita   23     Pune
1     Raj   24   Mumbai
2  Nikita   27      Goa

In [10]:
pd.DataFrame({'Names' : ['Ankita','Raj','Nikita'],
          'Age' : [23,24,27],
          'Location' : ['Pune','Mumbai','Goa'],
          'Course' : ['DA','DS','DS']})

    Names  Age Location Course
0  Ankita   23     Pune     DA
1     Raj   24   Mumbai     DS
2  Nikita   27      Goa     DS

# Importing External File

In [3]:
import pandas as pd

In [5]:
pd.read_csv(r"C:\Users\manas\Downloads\Used_Cars.csv")

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

In [7]:
df = pd.read_csv(r"C:\Users\manas\Downloads\Used_Cars.csv")

In [13]:
df

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

# Exploring and Inspecting Data.

- df.head(), df.tail()
- df.shape, df.column, df.dtypes
- df.info(), df.describe()

In [14]:
df.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [15]:
df.tail()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

In [9]:
df = pd.read_csv(r"C:\Users\manas\Downloads\Used_Cars.csv",index_col=0)
df.head()             # 0 index is convert column to index position.

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
S.No.,,,,,,,,,,,,,
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [17]:
df.shape

(7253, 13)

In [18]:
df.dtypes

Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
dtype: object

In [19]:
df.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

In [20]:
df.ndim

2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7253 entries, 0 to 7252
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               7253 non-null   object
 1   Location           7253 non-null   object
 2   Year               7253 non-null   int64
 3   Kilometers_Driven  7253 non-null   int64
 4   Fuel_Type          7253 non-null   object
 5   Transmission       7253 non-null   object
 6   Owner_Type         7253 non-null   object
 7   Mileage            7251 non-null   object
 8   Engine             7207 non-null   object
 9   Power              7207 non-null   object
 10  Seats              7200 non-null   float64
 11  New_Price          1006 non-null   object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 793.3+ KB

In [22]:
df.describe()      #this function is used to call numerical calumn.
                    # e+ this is used to scientific notation decimal .

              Year  Kilometers_Driven        Seats        Price
count  7253.000000       7.253000e+03  7200.000000  6019.000000
mean   2013.365366       5.869906e+04     5.279722     9.479468
std       3.254421       8.442772e+04     0.811660    11.187917
min    1996.000000       1.710000e+02     0.000000     0.440000
25%    2011.000000       3.400000e+04     5.000000     3.500000
50%    2014.000000       5.341600e+04     5.000000     5.640000
75%    2016.000000       7.300000e+04     5.000000     9.950000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [23]:
df.describe(include = object)

,Name,Location,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,New_Price
count,7253,7253,7253,7253,7253,7251,7207,7207,1006
unique,2041,11,5,2,4,450,150,386,625
top,Mahindra XUV500 W8 2WD,Mumbai,Diesel,Manual,First,17.0 kmpl,1197 CC,74 bhp,95.13 Lakh
freq,55,949,3852,5204,5952,207,732,280,6

In [24]:
# Mode is Nothing but the highest value.

In [25]:
df.Kilometers_Driven

S.No.
0       72000
1       41000
2       46000
3       87000
4       40670
        ...
7248    89411
7249    59000
7250    28000
7251    52262
7252    72443
Name: Kilometers_Driven, Length: 7253, dtype: int64

In [26]:
df['Kilometers_Driven']

S.No.
0       72000
1       41000
2       46000
3       87000
4       40670
        ...
7248    89411
7249    59000
7250    28000
7251    52262
7252    72443
Name: Kilometers_Driven, Length: 7253, dtype: int64

In [27]:
df[['Engine','Location','Year']]

        Engine    Location  Year
S.No.
0       998 CC      Mumbai  2010
1      1582 CC        Pune  2015
2      1199 CC     Chennai  2011
3      1248 CC     Chennai  2012
4      1968 CC  Coimbatore  2013
...        ...         ...   ...
7248   1598 CC   Hyderabad  2011
7249   1197 CC      Mumbai  2015
7250   1461 CC     Kolkata  2012
7251   1197 CC        Pune  2013
7252   2148 CC       Kochi  2014

[7253 rows x 3 columns]

In [28]:
#5 to 25 rows

In [29]:
df.loc[5:25,'Name':'Kilometers_Driven']

,Name,Location,Year,Kilometers_Driven
S.No.,,,,
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000
6,Nissan Micra Diesel XV,Jaipur,2013,86999
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430
9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932
10,Maruti Ciaz Zeta,Kochi,2018,25692
11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000
12,Maruti Swift VDI BSIV,Jaipur,2015,64424
13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000
14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000
16,Honda Amaze S i-Dtech,Kochi,2016,58950
17,Maruti Swift DDiS VDI,Jaipur,2017,25000
18,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469
19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500
20,BMW 3 Series 320d,Kochi,2014,32982
21,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392
22,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985
23,Hyundai i20 1.2 Magna,Kolkata,2010,45807
24,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000
25,Honda City Corporate Edition,Mumbai,2012,51920

In [30]:
df.iloc[5:25,0:3]  # can only mention column index number and the last index will be excluded.

                                                   Name   Location  Year
S.No.
5                       Hyundai EON LPG Era Plus Option  Hyderabad  2012
6                                Nissan Micra Diesel XV     Jaipur  2013
7                     Toyota Innova Crysta 2.8 GX AT 8S     Mumbai  2016
8                   Volkswagen Vento Diesel Comfortline       Pune  2013
9                        Tata Indica Vista Quadrajet LS    Chennai  2012
10                                     Maruti Ciaz Zeta      Kochi  2018
11                          Honda City 1.5 V AT Sunroof    Kolkata  2012
12                                Maruti Swift VDI BSIV     Jaipur  2015
13                     Land Rover Range Rover 2.2L Pure      Delhi  2014
14                       Land Rover Freelander 2 TD4 SE       Pune  2012
15                          Mitsubishi Pajero Sport 4X4      Delhi  2014
16                                Honda Amaze S i-Dtech      Kochi  2016
17                                Maruti Swift DDiS VDI     Jaipur  2017
18                  Renault Duster 85PS Diesel RxL Plus      Kochi  2014
19     Mercedes-Benz New C-Class C 220 CDI BE Avantgare  Bangalore  2014
20                                    BMW 3 Series 320d      Kochi  2014
21                        Maruti S Cross DDiS 200 Alpha  Bangalore  2015
22                 Audi A6 2011-2015 35 TFSI Technology     Mumbai  2015
23                                Hyundai i20 1.2 Magna    Kolkata  2010
24                  Volkswagen Vento Petrol Highline AT    Kolkata  2010

In [31]:
df.loc[[5,10],['Year','Engine']]

       Year   Engine
S.No.
5      2012   814 CC
10     2018  1462 CC

# Pandas Filtering.

In [32]:
df['Location'] == 'Mumbai'

S.No.
0        True
1       False
2       False
3       False
4       False
        ...
7248    False
7249     True
7250    False
7251    False
7252    False
Name: Location, Length: 7253, dtype: bool

In [33]:
df[df['Location'] =='Mumbai']   #Masking

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
S.No.,,,,,,,,,,,,,
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
22,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,NaN,23.50
25,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.25
29,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,NaN,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7185,Hyundai i20 Asta Option 1.2,Mumbai,2015,31293,Petrol,Manual,First,18.6 kmpl,1197 CC,81.83 bhp,5.0,NaN,NaN
7218,Maruti Vitara Brezza ZDi Plus AMT,Mumbai,2018,3800,Diesel,Automatic,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,12.46 Lakh,NaN
7229,Volkswagen Vento Petrol Highline AT,Mumbai,2011,67500,Petrol,Automatic,Second,14.4 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7232,Jeep Compass 1.4 Sport,Mumbai,2018,6000,Petrol,Manual,First,16.0 kmpl,1368 CC,160 bhp,5.0,18.16 Lakh,NaN
7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN

In [34]:
df[df['Kilometers_Driven']>50000]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
S.No.,,,,,,,,,,,,,
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,NaN,2.35
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7243,Renault Duster 85PS Diesel RxL,Chennai,2015,70000,Diesel,Manual,First,19.87 kmpl,1461 CC,83.8 bhp,5.0,NaN,NaN
7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN
7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN
7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN

In [35]:
#1. Fule type ='CNG'
#2. Owner = 'First'

In [36]:
df[(df['Fuel_Type'] =='CNG') & (df['Owner_Type'] =='First')]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
S.No.,,,,,,,,,,,,,
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
127,Maruti Wagon R LXI CNG,Pune,2013,89900,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,3.25
328,Maruti Zen Estilo LXI Green (CNG),Pune,2008,42496,CNG,Manual,First,26.3 km/kg,998 CC,67.1 bhp,5.0,NaN,1.40
440,Maruti Eeco 5 STR With AC Plus HTR CNG,Kochi,2017,31841,CNG,Manual,First,15.1 km/kg,1196 CC,73 bhp,5.0,NaN,4.70
839,Maruti Alto Green LXi (CNG),Delhi,2012,65537,CNG,Manual,First,26.83 km/kg,796 CC,38.4 bhp,5.0,NaN,2.10
1135,Maruti Zen Estilo LXI Green (CNG),Ahmedabad,2011,76000,CNG,Manual,First,26.3 km/kg,998 CC,67.1 bhp,5.0,NaN,2.00
1218,Maruti Wagon R LXI CNG,Pune,2015,70000,CNG,Manual,First,26.2 km/kg,998 CC,58.2 bhp,5.0,NaN,3.65
1269,Maruti Alto 800 2016-2019 CNG LXI,Mumbai,2018,10600,CNG,Manual,First,33.44 km/kg,796 CC,40.3 bhp,4.0,NaN,3.50
1323,Maruti Eeco 5 STR With AC Plus HTR CNG,Mumbai,2018,20000,CNG,Manual,First,15.1 km/kg,1196 CC,73 bhp,5.0,NaN,4.50
1332,Maruti Wagon R CNG LXI,Pune,2013,79494,CNG,Manual,First,33.54 km/kg,998 CC,67.04 bhp,5.0,5.54 Lakh,2.96
1573,Maruti Ertiga VXI CNG,Mumbai,2017,19234,CNG,Manual,First,17.5 km/kg,1373 CC,80.46 bhp,7.0,NaN,8.35
1780,Maruti Wagon R LXI CNG,Mumbai,2013,25755,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,3.15
1911,Maruti Wagon R LXI CNG,Ahmedabad,2016,77000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,3.30
1914,Hyundai Xcent 1.2 Kappa S Option CNG,Chennai,2017,46000,CNG,Manual,First,25.0 km/kg,1197 CC,81.86 bhp,5.0,NaN,4.95
2059,Maruti Wagon R CNG LXI,Mumbai,2013,54000,CNG,Manual,First,33.54 km/kg,998 CC,67.04 bhp,5.0,5.58 Lakh,3.05
2110,Tata Indigo CS Emax CNG GLX,Pune,2014,41000,CNG,Manual,First,24.6 km/kg,1193 CC,55.23 bhp,5.0,NaN,3.25
2228,Maruti Ertiga VXI CNG,Mumbai,2016,65263,CNG,Manual,First,17.5 km/kg,1373 CC,80.46 bhp,7.0,NaN,7.50
2323,Hyundai Xcent 1.2 Kappa S Option CNG,Delhi,2016,36676,CNG,Manual,First,25.0 km/kg,1197 CC,81.86 bhp,5.0,NaN,5.00
2371,Maruti Wagon R CNG LXI,Pune,2014,29202,CNG,Manual,First,33.54 km/kg,998 CC,67.04 bhp,5.0,5.54 Lakh,3.90
2437,Tata Indigo CS Emax CNG GLX,Chennai,2015,75000,CNG,Manual,First,24.6 km/kg,1193 CC,55.23 bhp,5.0,NaN,3.25
2516,Maruti SX4 Green Vxi (CNG),Mumbai,2014,53000,CNG,Manual,First,22.1 km/kg,1586 CC,85.7 bhp,5.0,NaN,3.26
2638,Maruti Wagon R LXI CNG,Pune,2012,90400,CNG,Manual,First,26.2 km/kg,998 CC,58.2 bhp,5.0,NaN,2.90
2701,Maruti Celerio CNG VXI MT,Kochi,2016,70536,CNG,Manual,First,31.79 km/kg,998 CC,58.33 bhp,5.0,5.87 Lakh,4.58
3031,Maruti Ertiga VXI CNG,Mumbai,2013,53000,CNG,Manual,First,22.8 km/kg,1373 CC,80.9 bhp,7.0,NaN,5.80
3119,Maruti Alto K10 LXI CNG Optional,Kochi,2018,44202,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,4.66 Lakh,4.00
3129,Maruti Wagon R CNG LXI,Delhi,2014,74663,CNG,Manual,First,33.54 km/kg,998 CC,67.04 bhp,5.0,5.35 Lakh,3.25
3180,Maruti Eeco CNG 5 Seater AC,Ahmedabad,2015,47001,CNG,Manual,First,20.0 km/kg,1196 CC,63 bhp,5.0,5.36 Lakh,3.72
3295,Maruti Wagon R LXI CNG,Delhi,2013,62000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,2.80
3455,Maruti Wagon R LXI CNG,Mumbai,2014,41000,CNG,Manual,First,26.2 km/kg,998 CC,58.2 bhp,5.0,NaN,3.50
3553,Maruti Alto 800 2016-2019 CNG LXI,Pune,2015,18000,CNG,Manual,First,33.44 km/kg,796 CC,40.3 bhp,4.0,NaN,3.00
3722,Maruti SX4 Green Vxi (CNG),Kochi,2015,61000,CNG,Manual,First,22.1 km/kg,1586 CC,85.7 bhp,5.0,NaN,3.89
4098,Maruti SX4 Green Vxi (CNG),Delhi,2012,82069,CNG,Manual,First,21.4 km/kg,1586 CC,103.3 bhp,5.0,NaN,2.65
4141,Maruti Wagon R CNG LXI,Mumbai,2014,47200,CNG,Manual,First,33.54 km/kg,998 CC,67.04 bhp,5.0,5.58 Lakh,2.85
4411,Maruti Wagon R LXI CNG,Kochi,2014,68365,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,3.77
4603,Maruti Eeco 5 STR With AC Plus HTR CNG,Kochi,2019,21112,CNG,Manual,First,15.1 km/kg,1196 CC,73 bhp,5.0,NaN,5.38
4769,Maruti Alto 800 2016-2019 CNG LXI,Kochi,2017,24310,CNG,Manual,First,33.44 km/kg,796 CC,40.3 bhp,4.0,NaN,3.70
4920,Maruti Wagon R LXI CNG,Pune,2014,58000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,3.00
5004,Maruti Eeco 5 STR With AC Plus HTR CNG,Kochi,2018,43912,CNG,Manual,First,15.1 km/kg,1196 CC,73 bhp,5.0,NaN,4.33
5178,Maruti Celerio CNG VXI MT,Delhi,2015,64687,CNG,Manual,First,31.79 km/kg,998 CC,58.33 bhp,5.0,5.87 Lakh,3.80
5655,Maruti Wagon R LXI CNG,Mumbai,2015,22001,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,3.65
5710,Maruti Alto 800 CNG LXI,Mumbai,2013,26200,CNG,Manual,First,30.46 km/kg,796 CC,47.3 bhp,5.0,NaN,2.15
5747,Maruti Wagon R LXI CNG,Delhi,2014,62549,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,2.95
5876,Maruti Ertiga VXI CNG,Mumbai,2017,23700,CNG,Manual,First,17.5 km/kg,1373 CC,80.46 bhp,7.0,NaN,8.25
5881,Maruti Wagon R LXI CNG,Pune,2015,55000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,3.70
5902,Maruti Wagon R LXI CNG,Mumbai,2012,72000,CNG,Manual,First,26.2 km/kg,998 CC,58.2 bhp,5.0,NaN,2.25
6019,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN,NaN
6387,Hyundai Santro Xing GLS CNG,Bangalore,2011,43985,CNG,Manual,First,11.88 km/kg,1086 CC,62.1 bhp,5.0,NaN,NaN
6538,Maruti Alto K10 LXI CNG,Kochi,2015,47490,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN,NaN
6788,Maruti Alto K10 LXI CNG Optional,Delhi,2017,33000,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,4.66 Lakh,NaN
6926,Maruti Eeco 5 STR With AC Plus HTR CNG,Mumbai,2017,15500,CNG,Manual,First,15.1 km/kg,1196 CC,73 bhp,5.0,NaN,NaN
6958,Maruti Alto 800 CNG LXI,Kolkata,2013,14311,CNG,Manual,First,30.46 km/kg,796 CC,47.3 bhp,5.0,NaN,NaN

In [37]:
df[(df['Fuel_Type'] == 'CNG') & (df['Seats']>6)]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
S.No.,,,,,,,,,,,,,
1573,Maruti Ertiga VXI CNG,Mumbai,2017,19234,CNG,Manual,First,17.5 km/kg,1373 CC,80.46 bhp,7.0,NaN,8.35
2228,Maruti Ertiga VXI CNG,Mumbai,2016,65263,CNG,Manual,First,17.5 km/kg,1373 CC,80.46 bhp,7.0,NaN,7.50
3031,Maruti Ertiga VXI CNG,Mumbai,2013,53000,CNG,Manual,First,22.8 km/kg,1373 CC,80.9 bhp,7.0,NaN,5.80
5876,Maruti Ertiga VXI CNG,Mumbai,2017,23700,CNG,Manual,First,17.5 km/kg,1373 CC,80.46 bhp,7.0,NaN,8.25

In [38]:
df['Price'].mean()

np.float64(9.47946835022429)

In [39]:
mumbai = df[df['Location'] =='Mumbai']

In [40]:
mumbai['Price'].mean()

np.float64(9.429329113924052)

In [41]:
df[df['Location'] =='Mumbai']['Price'].mean()

np.float64(9.429329113924052)

In [42]:
df[df['Location'] =='Pune']['Price'].mean()

np.float64(6.726254019292604)

In [43]:
df[df['Location'] =='Chennai']['Price'].mean()

np.float64(7.753623481781377)

# Group By

In [44]:
df.groupby('Location')

In [45]:
df.groupby('Location')['Price'].mean()

Location
Ahmedabad      8.457321
Bangalore     13.328631
Chennai        7.753623
Coimbatore    15.078223
Delhi          9.707726
Hyderabad      9.776550
Jaipur         5.809225
Kochi         11.179186
Kolkata        5.661215
Mumbai         9.429329
Pune           6.726254
Name: Price, dtype: float64

In [11]:
df.groupby('Transmission')['Price'].mean()        #Aggrigate finction.

Transmission
Automatic    19.843971
Manual        5.332703
Name: Price, dtype: float64

In [47]:
df.groupby('Location')['Price'].agg({'min','max','mean'})

             min     max       mean
Location
Ahmedabad   0.75   85.00   8.457321
Bangalore   1.35   93.00  13.328631
Chennai     0.65   70.00   7.753623
Coimbatore  1.68   93.67  15.078223
Delhi       0.75  120.00   9.707726
Hyderabad   0.60  160.00   9.776550
Jaipur      0.45   42.50   5.809225
Kochi       1.26   97.07  11.179186
Kolkata     0.65   75.00   5.661215
Mumbai      0.55   75.00   9.429329
Pune        0.44   68.00   6.726254

In [48]:
df.groupby(['Location','Fuel_Type'])[['Price']].mean()

                          Price
Location   Fuel_Type
Ahmedabad  CNG         3.006667
           Diesel     10.859420
           Petrol      4.660482
Bangalore  CNG              NaN
           Diesel     17.245388
           Petrol      7.157626
Chennai    CNG         4.100000
           Diesel     10.413080
           Electric   13.000000
           Petrol      3.958960
Coimbatore Diesel     20.747275
           Petrol      7.870429
Delhi      CNG         3.010000
           Diesel     12.554510
           Petrol      6.328992
Hyderabad  CNG         2.316667
           Diesel     11.955731
           LPG         2.775000
           Petrol      5.202643
Jaipur     Diesel      7.964304
           LPG         2.560000
           Petrol      3.106630
Kochi      CNG         4.293750
           Diesel     15.515888
           Petrol      7.452714
Kolkata    CNG              NaN
           Diesel      6.773594
           Petrol      4.640538
Mumbai     CNG         4.118235
           Diesel     14.288626
           Electric   12.750000
           LPG         1.450000
           Petrol      6.315764
Pune       CNG         2.946923
           Diesel      9.851076
           LPG         1.650000
           Petrol      4.083312

# Data Manipulation

In [13]:
games = pd.read_csv(r"C:\Users\manas\Downloads\vgsales.csv")
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [50]:
games['New Column'] = 'Game Data'           #Adding new column with the same value.

In [51]:
games.head(2)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,New Column
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,Game Data
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,Game Data

In [52]:
games.drop(columns = ['Year',"New Column"])              # Deleting multiple column (Temporary)

,Rank,Name,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [53]:
games.drop(columns = ['New Column'],inplace = True)        #Deleting Coloumn Permanently.

In [54]:
games.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [55]:
games.drop(index =[1])          #Deleting rows with drop function.

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [56]:
games.rename(columns = {'NA_Sales':'North America','EU_Sales':'Europe','JP_Sales':'Japan'},inplace = True)

In [57]:
games.head(2)

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24

# Sorting Table.

In [58]:
# Sort Index

In [59]:
games.head()

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [60]:
games.sort_index()          #sorts the table only by axis wise(row index)(number wise) or column name wise (Alphabetically)

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [61]:
games.sort_index(ascending = False)     #Sorting in descending order.

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
...,...,...,...,...,...,...,...,...,...,...,...
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [62]:
games.sort_index(axis=1, ascending=False)    #Axis = 1 means column wise sorting.

,Year,Rank,Publisher,Platform,Other_Sales,North America,Name,Japan,Global_Sales,Genre,Europe
0,2006.0,1,Nintendo,Wii,8.46,41.49,Wii Sports,3.77,82.74,Sports,29.02
1,1985.0,2,Nintendo,NES,0.77,29.08,Super Mario Bros.,6.81,40.24,Platform,3.58
2,2008.0,3,Nintendo,Wii,3.31,15.85,Mario Kart Wii,3.79,35.82,Racing,12.88
3,2009.0,4,Nintendo,Wii,2.96,15.75,Wii Sports Resort,3.28,33.00,Sports,11.01
4,1996.0,5,Nintendo,GB,1.00,11.27,Pokemon Red/Pokemon Blue,10.22,31.37,Role-Playing,8.89
...,...,...,...,...,...,...,...,...,...,...,...
16593,2002.0,16596,Kemco,GBA,0.00,0.01,Woody Woodpecker in Crazy Castle 5,0.00,0.01,Platform,0.00
16594,2003.0,16597,Infogrames,GC,0.00,0.01,Men in Black II: Alien Escape,0.00,0.01,Shooter,0.00
16595,2008.0,16598,Activision,PS2,0.00,0.00,SCORE International Baja 1000: The Official Game,0.00,0.01,Racing,0.00
16596,2010.0,16599,7G//AMES,DS,0.00,0.00,Know How 2,0.00,0.01,Puzzle,0.01
16597,2003.0,16600,Wanadoo,GBA,0.00,0.01,Spirits & Spells,0.00,0.01,Platform,0.00

In [63]:
#Sort Values.

In [64]:
games.sort_values(by = 'North America',ascending = False)

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
...,...,...,...,...,...,...,...,...,...,...,...
16576,16579,Rugby Challenge 3,XOne,2016.0,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16577,16580,Damnation,PC,2009.0,Shooter,Codemasters,0.00,0.01,0.00,0.00,0.01
16580,16583,Real Rode,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16581,16584,Fit & Fun,Wii,2011.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.00,0.01

In [65]:
games.sort_values(by = 'North America', ascending = False).head(3)      #Getting top 3 sales as per north america.

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

# Adding New Columns

In [66]:
games.head()

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [67]:
games['Name'].apply(len)

0        10
1        17
2        14
3        17
4        24
         ..
16593    34
16594    29
16595    48
16596    10
16597    16
Name: Name, Length: 16598, dtype: int64

In [68]:
df['Name Length'] = df['Name'].apply(len)

In [69]:
games

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [70]:
games['Age'] = 2025 - games['Year']
games

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales,Age
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,19.0
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.0
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,17.0
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,16.0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,23.0
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,22.0
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,17.0
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,15.0
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,22.0

In [71]:
def category(age):
    if age > 30:
        return 'Too Old'
    elif age > 15:
        return 'Old'
    else:
        return 'New'

In [72]:
games['Age'].apply(category)

0            Old
1        Too Old
2            Old
3            Old
4            Old
          ...
16593        Old
16594        Old
16595        Old
16596        New
16597        Old
Name: Age, Length: 16598, dtype: object

In [73]:
games['Category'] = games ['Age'].apply(category)
games

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales,Age,Category
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,19.0,Old
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.0,Too Old
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,17.0,Old
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,16.0,Old
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,29.0,Old
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,23.0,Old
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,22.0,Old
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,17.0,Old
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,15.0,New
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,22.0,Old

In [74]:
games['10% GS'] = games ['Global_Sales'].apply(lambda x : x*0.1)           #Applying 10% on Global sales column
games

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales,Age,Category,10% GS
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,19.0,Old,8.274
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.0,Too Old,4.024
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,17.0,Old,3.582
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,16.0,Old,3.300
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,29.0,Old,3.137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,23.0,Old,0.001
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,22.0,Old,0.001
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,17.0,Old,0.001
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,15.0,New,0.001
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,22.0,Old,0.001

In [75]:
games['Seller'] = games['Global_Sales'].apply(lambda x : 'Top Seller' if x > 30 else 'Low Seller')
games

,Rank,Name,Platform,Year,Genre,Publisher,North America,Europe,Japan,Other_Sales,Global_Sales,Age,Category,10% GS,Seller
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,19.0,Old,8.274,Top Seller
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.0,Too Old,4.024,Top Seller
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,17.0,Old,3.582,Top Seller
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,16.0,Old,3.300,Top Seller
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,29.0,Old,3.137,Top Seller
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,23.0,Old,0.001,Low Seller
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,22.0,Old,0.001,Low Seller
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,17.0,Old,0.001,Low Seller
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,15.0,New,0.001,Low Seller
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,22.0,Old,0.001,Low Seller

# Map Functions

In [76]:
cars = pd.read_csv('Used_Cars.csv')
cars.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [77]:
cars['Owner'] = cars['Owner_Type'].map({'First':1,'second':2,'Third':3,'Fourth':4})
cars

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,1.0
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1.0
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,1.0
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,Volkswagen Vento Diesel Trendline,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN,1.0
7249,7249,Volkswagen Polo GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,1.0
7250,7250,Nissan Micra Diesel XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN,1.0
7251,7251,Volkswagen Polo GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,3.0
7252,7252,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN,1.0

# String  Methods

In [78]:
cars['Name'].str.upper()

0                                  MARUTI WAGON R LXI CNG
1                        HYUNDAI CRETA 1.6 CRDI SX OPTION
2                                            HONDA JAZZ V
3                                       MARUTI ERTIGA VDI
4                         AUDI A4 NEW 2.0 TDI MULTITRONIC
                              ...
7248                    VOLKSWAGEN VENTO DIESEL TRENDLINE
7249                               VOLKSWAGEN POLO GT TSI
7250                               NISSAN MICRA DIESEL XV
7251                               VOLKSWAGEN POLO GT TSI
7252    MERCEDES-BENZ E-CLASS 2009-2013 E 220 CDI AVAN...
Name: Name, Length: 7253, dtype: object

In [79]:
cars.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,1.0
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1.0
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,1.0
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,NaN

In [80]:
cars['Name'] = cars['Name'].str.upper()        #Masking changes permenent by reassigning the column name.
cars

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner
0,0,MARUTI WAGON R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,1.0
1,1,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0
2,2,HONDA JAZZ V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1.0
3,3,MARUTI ERTIGA VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,1.0
4,4,AUDI A4 NEW 2.0 TDI MULTITRONIC,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,VOLKSWAGEN VENTO DIESEL TRENDLINE,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN,1.0
7249,7249,VOLKSWAGEN POLO GT TSI,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,1.0
7250,7250,NISSAN MICRA DIESEL XV,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN,1.0
7251,7251,VOLKSWAGEN POLO GT TSI,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,3.0
7252,7252,MERCEDES-BENZ E-CLASS 2009-2013 E 220 CDI AVAN...,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN,1.0

In [81]:
cars['Owner_Type'] = cars['Owner_Type'].str.lower()
cars.head(2)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner
0,0,MARUTI WAGON R LXI CNG,Mumbai,2010,72000,CNG,Manual,first,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,1.0
1,1,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,2015,41000,Diesel,Manual,first,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0

In [82]:
cars['Name'].str.contains('CRETA')

0       False
1        True
2       False
3       False
4       False
        ...
7248    False
7249    False
7250    False
7251    False
7252    False
Name: Name, Length: 7253, dtype: bool

In [83]:
creta = cars[cars['Name'].str.contains('CRETA')]         #Performing masking to get the output in table format.
creta

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner
1,1,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,2015,41000,Diesel,Manual,first,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0
69,69,HYUNDAI CRETA 1.4 E PLUS DIESEL,Mumbai,2018,13000,Diesel,Manual,first,22.1 kmpl,1396 CC,88.7 bhp,5.0,11.81 Lakh,10.50,1.0
213,213,HYUNDAI CRETA 1.6 VTVT S,Delhi,2015,27057,Petrol,Manual,second,15.29 kmpl,1591 CC,121.3 bhp,5.0,NaN,8.15,NaN
267,267,HYUNDAI CRETA 1.6 CRDI SX,Bangalore,2016,28000,Diesel,Manual,first,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,13.75,1.0
425,425,HYUNDAI CRETA 1.6 SX PLUS DUAL TONE PETROL,Coimbatore,2017,23163,Petrol,Manual,first,15.29 kmpl,1591 CC,121.3 bhp,5.0,NaN,12.03,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7088,7088,HYUNDAI CRETA 1.6 CRDI SX,Coimbatore,2017,33186,Diesel,Manual,first,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,NaN,1.0
7109,7109,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,2016,83500,Diesel,Manual,first,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,NaN,1.0
7146,7146,HYUNDAI CRETA 1.6 CRDI SX,Jaipur,2015,65000,Diesel,Manual,first,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,NaN,1.0
7158,7158,HYUNDAI CRETA 1.6 SX PLUS PETROL AUTOMATIC,Coimbatore,2018,32746,Petrol,Automatic,first,13.0 kmpl,1591 CC,121.3 bhp,5.0,NaN,NaN,1.0
7217,7217,HYUNDAI CRETA 1.6 SX PLUS DUAL TONE PETROL,Delhi,2017,11000,Petrol,Manual,first,15.29 kmpl,1591 CC,121.3 bhp,5.0,NaN,NaN,1.0

In [84]:
#Calculate Average(Mileage) of cars based on fuel type.

In [85]:
cars.dtypes

S.No.                  int64
Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
Owner                float64
dtype: object

In [86]:
a = '26.6 km/kg'
a

'26.6 km/kg'

In [87]:
a.split()[0]

'26.6'

In [88]:
cars['Mileage'].str.split().str[0]

0        26.6
1       19.67
2        18.2
3       20.77
4        15.2
        ...
7248    20.54
7249    17.21
7250    23.08
7251     17.2
7252     10.0
Name: Mileage, Length: 7253, dtype: object

In [89]:
cars['Average'] = cars['Mileage'].str.split().str[0]        # Creating new column to store average values.
cars

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner,Average
0,0,MARUTI WAGON R LXI CNG,Mumbai,2010,72000,CNG,Manual,first,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,1.0,26.6
1,1,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,2015,41000,Diesel,Manual,first,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0,19.67
2,2,HONDA JAZZ V,Chennai,2011,46000,Petrol,Manual,first,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1.0,18.2
3,3,MARUTI ERTIGA VDI,Chennai,2012,87000,Diesel,Manual,first,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,1.0,20.77
4,4,AUDI A4 NEW 2.0 TDI MULTITRONIC,Coimbatore,2013,40670,Diesel,Automatic,second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,NaN,15.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,VOLKSWAGEN VENTO DIESEL TRENDLINE,Hyderabad,2011,89411,Diesel,Manual,first,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN,1.0,20.54
7249,7249,VOLKSWAGEN POLO GT TSI,Mumbai,2015,59000,Petrol,Automatic,first,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,1.0,17.21
7250,7250,NISSAN MICRA DIESEL XV,Kolkata,2012,28000,Diesel,Manual,first,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN,1.0,23.08
7251,7251,VOLKSWAGEN POLO GT TSI,Pune,2013,52262,Petrol,Automatic,third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,3.0,17.2
7252,7252,MERCEDES-BENZ E-CLASS 2009-2013 E 220 CDI AVAN...,Kochi,2014,72443,Diesel,Automatic,first,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN,1.0,10.0

In [90]:
cars.dtypes

S.No.                  int64
Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
Owner                float64
Average               object
dtype: object

In [91]:
cars['Average'].astype(float)            #astype does changes temporary.

0       26.60
1       19.67
2       18.20
3       20.77
4       15.20
        ...
7248    20.54
7249    17.21
7250    23.08
7251    17.20
7252    10.00
Name: Average, Length: 7253, dtype: float64

In [92]:
cars['Average'] = cars['Average'].astype(float)
cars.dtypes

S.No.                  int64
Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
Owner                float64
Average              float64
dtype: object

In [93]:
cars.groupby('Fuel_Type')['Average'].mean()

Fuel_Type
CNG         25.445645
Diesel      18.633606
Electric          NaN
LPG         18.695833
Petrol      17.433374
Name: Average, dtype: float64

In [94]:
cars.dtypes

S.No.                  int64
Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
Owner                float64
Average              float64
dtype: object

In [95]:
a = '998 CC'
a

'998 CC'

In [96]:
a.split()[0]

'998'

In [97]:
cars['Engine'].str.split().str[0]

0        998
1       1582
2       1199
3       1248
4       1968
        ...
7248    1598
7249    1197
7250    1461
7251    1197
7252    2148
Name: Engine, Length: 7253, dtype: object

In [98]:
cars['Engine Power'] = cars['Engine'].str.split().str[0]
cars

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner,Average,Engine Power
0,0,MARUTI WAGON R LXI CNG,Mumbai,2010,72000,CNG,Manual,first,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,1.0,26.60,998
1,1,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,2015,41000,Diesel,Manual,first,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0,19.67,1582
2,2,HONDA JAZZ V,Chennai,2011,46000,Petrol,Manual,first,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1.0,18.20,1199
3,3,MARUTI ERTIGA VDI,Chennai,2012,87000,Diesel,Manual,first,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,1.0,20.77,1248
4,4,AUDI A4 NEW 2.0 TDI MULTITRONIC,Coimbatore,2013,40670,Diesel,Automatic,second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,NaN,15.20,1968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,VOLKSWAGEN VENTO DIESEL TRENDLINE,Hyderabad,2011,89411,Diesel,Manual,first,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN,1.0,20.54,1598
7249,7249,VOLKSWAGEN POLO GT TSI,Mumbai,2015,59000,Petrol,Automatic,first,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,1.0,17.21,1197
7250,7250,NISSAN MICRA DIESEL XV,Kolkata,2012,28000,Diesel,Manual,first,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN,1.0,23.08,1461
7251,7251,VOLKSWAGEN POLO GT TSI,Pune,2013,52262,Petrol,Automatic,third,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,3.0,17.20,1197
7252,7252,MERCEDES-BENZ E-CLASS 2009-2013 E 220 CDI AVAN...,Kochi,2014,72443,Diesel,Automatic,first,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN,1.0,10.00,2148

In [99]:
cars['Engine Power'] = cars['Engine Power'].astype(float)        # Creating new column to store average values.
cars.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner,Average,Engine Power
0,0,MARUTI WAGON R LXI CNG,Mumbai,2010,72000,CNG,Manual,first,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,1.0,26.60,998.0
1,1,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,2015,41000,Diesel,Manual,first,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0,19.67,1582.0
2,2,HONDA JAZZ V,Chennai,2011,46000,Petrol,Manual,first,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1.0,18.20,1199.0
3,3,MARUTI ERTIGA VDI,Chennai,2012,87000,Diesel,Manual,first,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,1.0,20.77,1248.0
4,4,AUDI A4 NEW 2.0 TDI MULTITRONIC,Coimbatore,2013,40670,Diesel,Automatic,second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,NaN,15.20,1968.0

In [100]:
cars.groupby('Transmission')['Engine Power'].mean()

Transmission
Automatic    2085.066732
Manual       1431.858967
Name: Engine Power, dtype: float64

In [101]:
cars['Location'].nunique()

11

In [102]:
cars['Name'].unique()

array(['MARUTI WAGON R LXI CNG', 'HYUNDAI CRETA 1.6 CRDI SX OPTION',
       'HONDA JAZZ V', ..., 'FORD ECOSPORT 1.5 PETROL AMBIENTE',
       'JEEP COMPASS 1.4 SPORT', 'HYUNDAI ELITE I20 MAGNA PLUS'],
      dtype=object)

In [103]:
cars['Name'].nunique()

2017

In [104]:
cars['Location'].value_counts()

Location
Mumbai        949
Hyderabad     876
Coimbatore    772
Kochi         772
Pune          765
Delhi         660
Kolkata       654
Chennai       591
Jaipur        499
Bangalore     440
Ahmedabad     275
Name: count, dtype: int64

In [105]:
#top 5 expensive cars.

In [106]:
cars.sort_values(by = 'Price',ascending = False).head(5)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner,Average,Engine Power
4079,4079,LAND ROVER RANGE ROVER 3.0 DIESEL LWB VOGUE,Hyderabad,2017,25000,Diesel,Automatic,first,13.33 kmpl,2993 CC,255 bhp,5.0,2.3 Cr,160.00,1.0,13.33,2993.0
5781,5781,LAMBORGHINI GALLARDO COUPE,Delhi,2011,6500,Petrol,Automatic,third,6.4 kmpl,5204 CC,560 bhp,2.0,NaN,120.00,3.0,6.40,5204.0
5919,5919,JAGUAR F TYPE 5.0 V8 S,Hyderabad,2015,8000,Petrol,Automatic,first,12.5 kmpl,5000 CC,488.1 bhp,2.0,NaN,100.00,1.0,12.50,5000.0
1505,1505,LAND ROVER RANGE ROVER SPORT SE,Kochi,2019,26013,Diesel,Automatic,first,12.65 kmpl,2993 CC,255 bhp,5.0,1.39 Cr,97.07,1.0,12.65,2993.0
1974,1974,BMW 7 SERIES 740LI,Coimbatore,2018,28060,Petrol,Automatic,first,12.05 kmpl,2979 CC,320 bhp,5.0,NaN,93.67,1.0,12.05,2979.0

In [107]:
cars.nlargest(5,'Price')

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner,Average,Engine Power
4079,4079,LAND ROVER RANGE ROVER 3.0 DIESEL LWB VOGUE,Hyderabad,2017,25000,Diesel,Automatic,first,13.33 kmpl,2993 CC,255 bhp,5.0,2.3 Cr,160.00,1.0,13.33,2993.0
5781,5781,LAMBORGHINI GALLARDO COUPE,Delhi,2011,6500,Petrol,Automatic,third,6.4 kmpl,5204 CC,560 bhp,2.0,NaN,120.00,3.0,6.40,5204.0
5919,5919,JAGUAR F TYPE 5.0 V8 S,Hyderabad,2015,8000,Petrol,Automatic,first,12.5 kmpl,5000 CC,488.1 bhp,2.0,NaN,100.00,1.0,12.50,5000.0
1505,1505,LAND ROVER RANGE ROVER SPORT SE,Kochi,2019,26013,Diesel,Automatic,first,12.65 kmpl,2993 CC,255 bhp,5.0,1.39 Cr,97.07,1.0,12.65,2993.0
1974,1974,BMW 7 SERIES 740LI,Coimbatore,2018,28060,Petrol,Automatic,first,12.05 kmpl,2979 CC,320 bhp,5.0,NaN,93.67,1.0,12.05,2979.0

In [108]:
cars.nsmallest(5,'Price')

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner,Average,Engine Power
1713,1713,TATA NANO LX,Pune,2011,65000,Petrol,Manual,second,26.0 kmpl,624 CC,35 bhp,4.0,NaN,0.44,NaN,26.0,624.0
1628,1628,MARUTI 800 STD BSIII,Jaipur,2004,12000,Petrol,Manual,second,16.1 kmpl,796 CC,37 bhp,4.0,NaN,0.45,NaN,16.1,796.0
2847,2847,HYUNDAI GETZ GLS,Pune,2005,86000,Petrol,Manual,second,15.3 kmpl,1341 CC,83 bhp,5.0,NaN,0.45,NaN,15.3,1341.0
3138,3138,MARUTI ZEN LXI,Jaipur,1998,95150,Petrol,Manual,third,17.3 kmpl,993 CC,60 bhp,5.0,NaN,0.45,3.0,17.3,993.0
2605,2605,TATA NANO CX,Jaipur,2010,57000,Petrol,Manual,first,26.0 kmpl,624 CC,35 bhp,4.0,NaN,0.50,1.0,26.0,624.0

In [109]:
cars['Owner_Type'].unique()

array(['first', 'second', 'fourth & above', 'third'], dtype=object)

In [110]:
cars['Owner_Type'].replace('First',1)     # Replace value temporary

0        first
1        first
2        first
3        first
4       second
         ...
7248     first
7249     first
7250     first
7251     third
7252     first
Name: Owner_Type, Length: 7253, dtype: object

In [111]:
cars['Owner_Type'].replace(['first','second','fourth & above','third'],[1,2,4,3], inplace=True)   #Replacing multiple value

<ipython-input-111-fc340b043fdb>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cars['Owner_Type'].replace(['first','second','fourth & above','third'],[1,2,4,3], inplace=True)   #Replacing multiple value
<ipython-input-111-fc340b043fdb>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars['Owner_Type'].replace(['first','second','fourth & above','third'],[1,2,4,3], inplace=True)   #Replacing multiple value

In [112]:
cars

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner,Average,Engine Power
0,0,MARUTI WAGON R LXI CNG,Mumbai,2010,72000,CNG,Manual,1,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,1.0,26.60,998.0
1,1,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,2015,41000,Diesel,Manual,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0,19.67,1582.0
2,2,HONDA JAZZ V,Chennai,2011,46000,Petrol,Manual,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1.0,18.20,1199.0
3,3,MARUTI ERTIGA VDI,Chennai,2012,87000,Diesel,Manual,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,1.0,20.77,1248.0
4,4,AUDI A4 NEW 2.0 TDI MULTITRONIC,Coimbatore,2013,40670,Diesel,Automatic,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,NaN,15.20,1968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,VOLKSWAGEN VENTO DIESEL TRENDLINE,Hyderabad,2011,89411,Diesel,Manual,1,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN,1.0,20.54,1598.0
7249,7249,VOLKSWAGEN POLO GT TSI,Mumbai,2015,59000,Petrol,Automatic,1,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,1.0,17.21,1197.0
7250,7250,NISSAN MICRA DIESEL XV,Kolkata,2012,28000,Diesel,Manual,1,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN,1.0,23.08,1461.0
7251,7251,VOLKSWAGEN POLO GT TSI,Pune,2013,52262,Petrol,Automatic,3,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,3.0,17.20,1197.0
7252,7252,MERCEDES-BENZ E-CLASS 2009-2013 E 220 CDI AVAN...,Kochi,2014,72443,Diesel,Automatic,1,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN,1.0,10.00,2148.0

In [113]:
import warnings
warnings.filterwarnings('ignore')

In [114]:
cars['Location'].replace('Mumbai','Navi Mumbai',inplace=True)

In [115]:
cars

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Owner,Average,Engine Power
0,0,MARUTI WAGON R LXI CNG,Navi Mumbai,2010,72000,CNG,Manual,1,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,1.0,26.60,998.0
1,1,HYUNDAI CRETA 1.6 CRDI SX OPTION,Pune,2015,41000,Diesel,Manual,1,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,1.0,19.67,1582.0
2,2,HONDA JAZZ V,Chennai,2011,46000,Petrol,Manual,1,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,1.0,18.20,1199.0
3,3,MARUTI ERTIGA VDI,Chennai,2012,87000,Diesel,Manual,1,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,1.0,20.77,1248.0
4,4,AUDI A4 NEW 2.0 TDI MULTITRONIC,Coimbatore,2013,40670,Diesel,Automatic,2,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,NaN,15.20,1968.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7248,7248,VOLKSWAGEN VENTO DIESEL TRENDLINE,Hyderabad,2011,89411,Diesel,Manual,1,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,NaN,1.0,20.54,1598.0
7249,7249,VOLKSWAGEN POLO GT TSI,Navi Mumbai,2015,59000,Petrol,Automatic,1,17.21 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,1.0,17.21,1197.0
7250,7250,NISSAN MICRA DIESEL XV,Kolkata,2012,28000,Diesel,Manual,1,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,NaN,1.0,23.08,1461.0
7251,7251,VOLKSWAGEN POLO GT TSI,Pune,2013,52262,Petrol,Automatic,3,17.2 kmpl,1197 CC,103.6 bhp,5.0,NaN,NaN,3.0,17.20,1197.0
7252,7252,MERCEDES-BENZ E-CLASS 2009-2013 E 220 CDI AVAN...,Kochi,2014,72443,Diesel,Automatic,1,10.0 kmpl,2148 CC,170 bhp,5.0,NaN,NaN,1.0,10.00,2148.0

# Merging and Joining.

# Concat

In [116]:
india = pd.DataFrame({
    'City':['Mumbai','Pune','Chennai'],
    'Temprature' : [30,25,29],
    'Humidity':[55,33,34]
})
india

      City  Temprature  Humidity
0   Mumbai          30        55
1     Pune          25        33
2  Chennai          29        34

In [117]:
usa = pd.DataFrame({
    'City':['New Yark','Los Angeles','Chikago'],
    'Temprature' : [23,24,26],
    'Humidity':[23,24,34]
})
usa

          City  Temprature  Humidity
0     New Yark          23        23
1  Los Angeles          24        24
2      Chikago          26        34

In [118]:
pd.concat([india,usa])

          City  Temprature  Humidity
0       Mumbai          30        55
1         Pune          25        33
2      Chennai          29        34
0     New Yark          23        23
1  Los Angeles          24        24
2      Chikago          26        34

In [119]:
pd.concat([india,usa], ignore_index = True)

          City  Temprature  Humidity
0       Mumbai          30        55
1         Pune          25        33
2      Chennai          29        34
3     New Yark          23        23
4  Los Angeles          24        24
5      Chikago          26        34

In [120]:
india_usa = pd.concat([india,usa],axis=1)
india_usa

      City  Temprature  Humidity         City  Temprature  Humidity
0   Mumbai          30        55     New Yark          23        23
1     Pune          25        33  Los Angeles          24        24
2  Chennai          29        34      Chikago          26        34

# Join Tables.

In [123]:
import pandas as pd

In [125]:
customer = pd.read_csv('Customers.csv',index_col=0)
customer

   Customer_ID           Name  Age   Location  Member_Since
0            1   Aarav Sharma   30  New Delhi          2020
1            2    Priya Gupta   35     Mumbai          2019
2            3    Rahul Patel   28  Ahmedabad          2021
3            4     Neha Reddy   45  Hyderabad          2018
4            5    Sanya Singh   40  Bangalore          2017
5            6    Vijay Kumar   50       Pune          2019
6            7  Deepika Mehta   32    Chennai          2020
7            8     Arjun Iyer   55      Kochi          2021
8            9  Manisha Joshi   60  New Delhi          2020
9           10    Rohan Verma   38    Kolkata          2022

In [127]:
orders = pd.read_csv('Orders.csv',index_col=0)
orders

   Order_ID  Customer_ID     Product  Quantity  Order_Date
0       101            1      Laptop         1  2025-01-03
1       102            2  Smartphone         2  2025-01-04
2       103            3      Tablet         1  2025-01-05
3       104            4     Monitor         2  2025-01-06
4       105            5    Keyboard         1  2025-01-07
5       106            6       Mouse         3  2025-01-08
6       107            7  Headphones         2  2025-01-09
7       108            8      Webcam         1  2025-01-10
8       109            9      Laptop         1  2025-01-11
9       110           10      Tablet         2  2025-01-12

In [128]:
customer.shape

(10, 5)

In [129]:
orders.shape

(10, 5)

In [130]:
customer.set_index('Customer_ID',inplace=True)       # setting the common column  as index to perform join.
orders.set_index('Customer_ID',inplace=True)

In [131]:
customer

                      Name  Age   Location  Member_Since
Customer_ID
1             Aarav Sharma   30  New Delhi          2020
2              Priya Gupta   35     Mumbai          2019
3              Rahul Patel   28  Ahmedabad          2021
4               Neha Reddy   45  Hyderabad          2018
5              Sanya Singh   40  Bangalore          2017
6              Vijay Kumar   50       Pune          2019
7            Deepika Mehta   32    Chennai          2020
8               Arjun Iyer   55      Kochi          2021
9            Manisha Joshi   60  New Delhi          2020
10             Rohan Verma   38    Kolkata          2022

In [132]:
orders

             Order_ID     Product  Quantity  Order_Date
Customer_ID
1                 101      Laptop         1  2025-01-03
2                 102  Smartphone         2  2025-01-04
3                 103      Tablet         1  2025-01-05
4                 104     Monitor         2  2025-01-06
5                 105    Keyboard         1  2025-01-07
6                 106       Mouse         3  2025-01-08
7                 107  Headphones         2  2025-01-09
8                 108      Webcam         1  2025-01-10
9                 109      Laptop         1  2025-01-11
10                110      Tablet         2  2025-01-12

In [133]:
customer.shape

(10, 4)

In [134]:
customer.join(orders)

,Name,Age,Location,Member_Since,Order_ID,Product,Quantity,Order_Date
Customer_ID,,,,,,,,
1,Aarav Sharma,30,New Delhi,2020,101,Laptop,1,2025-01-03
2,Priya Gupta,35,Mumbai,2019,102,Smartphone,2,2025-01-04
3,Rahul Patel,28,Ahmedabad,2021,103,Tablet,1,2025-01-05
4,Neha Reddy,45,Hyderabad,2018,104,Monitor,2,2025-01-06
5,Sanya Singh,40,Bangalore,2017,105,Keyboard,1,2025-01-07
6,Vijay Kumar,50,Pune,2019,106,Mouse,3,2025-01-08
7,Deepika Mehta,32,Chennai,2020,107,Headphones,2,2025-01-09
8,Arjun Iyer,55,Kochi,2021,108,Webcam,1,2025-01-10
9,Manisha Joshi,60,New Delhi,2020,109,Laptop,1,2025-01-11
10,Rohan Verma,38,Kolkata,2022,110,Tablet,2,2025-01-12

In [135]:
orders.drop(index=[1,5,6,8,10], inplace=True)

In [136]:
customer

                      Name  Age   Location  Member_Since
Customer_ID
1             Aarav Sharma   30  New Delhi          2020
2              Priya Gupta   35     Mumbai          2019
3              Rahul Patel   28  Ahmedabad          2021
4               Neha Reddy   45  Hyderabad          2018
5              Sanya Singh   40  Bangalore          2017
6              Vijay Kumar   50       Pune          2019
7            Deepika Mehta   32    Chennai          2020
8               Arjun Iyer   55      Kochi          2021
9            Manisha Joshi   60  New Delhi          2020
10             Rohan Verma   38    Kolkata          2022

In [137]:
customer.join(orders,how='inner')

,Name,Age,Location,Member_Since,Order_ID,Product,Quantity,Order_Date
Customer_ID,,,,,,,,
2,Priya Gupta,35,Mumbai,2019,102,Smartphone,2,2025-01-04
3,Rahul Patel,28,Ahmedabad,2021,103,Tablet,1,2025-01-05
4,Neha Reddy,45,Hyderabad,2018,104,Monitor,2,2025-01-06
7,Deepika Mehta,32,Chennai,2020,107,Headphones,2,2025-01-09
9,Manisha Joshi,60,New Delhi,2020,109,Laptop,1,2025-01-11

# Merge

In [138]:
employee = pd.read_csv('Employee.csv',index_col=0)
salaries = pd.read_csv('Salaries.csv',index_col=0)

In [139]:
employee

   Employee_ID          Name Department  Age   Location
0          101   Aditi Verma         HR   30  Bangalore
1          102  Rajesh Mehta         IT   35     Mumbai
2          103    Priya Shah    Finance   28    Chennai
3          104    Amit Kumar         IT   40       Pune
4          105   Shalini Rao         HR   32  Bangalore

In [140]:
salaries

   Employee_ID  Salary (INR)  Bonus (INR) Joining_Date
0          101         60000         5000   2019-03-01
1          102         80000         7000   2018-06-01
2          103         70000         6000   2020-01-15
3          104         75000         7500   2017-09-05
4          106         65000         5500   2021-02-10

In [141]:
# inner join

pd.merge(employee,salaries,how='inner')

,Employee_ID,Name,Department,Age,Location,Salary (INR),Bonus (INR),Joining_Date
0,101,Aditi Verma,HR,30,Bangalore,60000,5000,2019-03-01
1,102,Rajesh Mehta,IT,35,Mumbai,80000,7000,2018-06-01
2,103,Priya Shah,Finance,28,Chennai,70000,6000,2020-01-15
3,104,Amit Kumar,IT,40,Pune,75000,7500,2017-09-05

In [142]:
# left join

pd.merge(employee,salaries,how='left')

,Employee_ID,Name,Department,Age,Location,Salary (INR),Bonus (INR),Joining_Date
0,101,Aditi Verma,HR,30,Bangalore,60000.0,5000.0,2019-03-01
1,102,Rajesh Mehta,IT,35,Mumbai,80000.0,7000.0,2018-06-01
2,103,Priya Shah,Finance,28,Chennai,70000.0,6000.0,2020-01-15
3,104,Amit Kumar,IT,40,Pune,75000.0,7500.0,2017-09-05
4,105,Shalini Rao,HR,32,Bangalore,NaN,NaN,NaN

In [143]:
# Right join

In [144]:
pd.merge(employee,salaries,how='right')

,Employee_ID,Name,Department,Age,Location,Salary (INR),Bonus (INR),Joining_Date
0,101,Aditi Verma,HR,30.0,Bangalore,60000,5000,2019-03-01
1,102,Rajesh Mehta,IT,35.0,Mumbai,80000,7000,2018-06-01
2,103,Priya Shah,Finance,28.0,Chennai,70000,6000,2020-01-15
3,104,Amit Kumar,IT,40.0,Pune,75000,7500,2017-09-05
4,106,NaN,NaN,NaN,NaN,65000,5500,2021-02-10

In [145]:
# All Outer Join

In [146]:
pd.merge(employee,salaries,how='outer')

,Employee_ID,Name,Department,Age,Location,Salary (INR),Bonus (INR),Joining_Date
0,101,Aditi Verma,HR,30.0,Bangalore,60000.0,5000.0,2019-03-01
1,102,Rajesh Mehta,IT,35.0,Mumbai,80000.0,7000.0,2018-06-01
2,103,Priya Shah,Finance,28.0,Chennai,70000.0,6000.0,2020-01-15
3,104,Amit Kumar,IT,40.0,Pune,75000.0,7500.0,2017-09-05
4,105,Shalini Rao,HR,32.0,Bangalore,NaN,NaN,NaN
5,106,NaN,NaN,NaN,NaN,65000.0,5500.0,2021-02-10

# Rename common column

In [147]:
employee

   Employee_ID          Name Department  Age   Location
0          101   Aditi Verma         HR   30  Bangalore
1          102  Rajesh Mehta         IT   35     Mumbai
2          103    Priya Shah    Finance   28    Chennai
3          104    Amit Kumar         IT   40       Pune
4          105   Shalini Rao         HR   32  Bangalore

In [148]:
salaries.rename(columns ={'Employee_ID':'Emp_ID'},inplace = True)

In [149]:
salaries

   Emp_ID  Salary (INR)  Bonus (INR) Joining_Date
0     101         60000         5000   2019-03-01
1     102         80000         7000   2018-06-01
2     103         70000         6000   2020-01-15
3     104         75000         7500   2017-09-05
4     106         65000         5500   2021-02-10

In [150]:
pd.merge(employee,salaries,how='inner',left_on = 'Employee_ID',right_on = 'Emp_ID')

,Employee_ID,Name,Department,Age,Location,Emp_ID,Salary (INR),Bonus (INR),Joining_Date
0,101,Aditi Verma,HR,30,Bangalore,101,60000,5000,2019-03-01
1,102,Rajesh Mehta,IT,35,Mumbai,102,80000,7000,2018-06-01
2,103,Priya Shah,Finance,28,Chennai,103,70000,6000,2020-01-15
3,104,Amit Kumar,IT,40,Pune,104,75000,7500,2017-09-05