# Comment

In [2]:
beauty_product = 20
price = 50

total= beauty_product*price
total #paid

1000

In [3]:
school_name = 'tmvt'

student_number = 20

total = school_name*student_number    #total number of student
total # paid

'tmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvt'

In [4]:
xyz = 'hello india'
xyz

'hello india'

In [5]:
print(xyz)
total

hello india

'tmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvttmvt'

In [6]:
txt = 'we are engineers'
txt

'we are engineers'

In [7]:
type(txt)

str

In [8]:
txt.upper()
txt.upper()

'WE ARE ENGINEERS'

# Trimming function

In [10]:
txt = '    python    '
txt

'    python    '

In [11]:
txt.strip()

'python'

In [12]:
txt1 = '####python###'
txt1

'####python###'

In [13]:
txt1.strip('#')

'python'

In [14]:
txt.lstrip()

'python    '

In [15]:
txt.rstrip()

'    python'

In [16]:
xyz = '@@fusion software@@@'
xyz

'@@fusion software@@@'

In [17]:
xyz.strip('@')

'fusion software'

In [18]:
abc = '$$$$1,2,3,4,5'
abc

'$$$$1,2,3,4,5'

In [19]:
abc.strip('$')

'1,2,3,4,5'

# Splitting and joining

In [21]:
# spliting

email = 'abc@gmail.com'
email

'abc@gmail.com'

In [22]:
email.split('@')

['abc', 'gmail.com']

In [23]:
products = 'milk,oil,bread,jam,chees'
products

'milk,oil,bread,jam,chees'

In [24]:
products.split(',')

['milk', 'oil', 'bread', 'jam', 'chees']

In [25]:
# join

s1= 'python'
s2 = 'is'
s3 = 'easy'
s4= 'and'
s5 = 'simpal'

In [26]:
s1+' '+s2+' '+s3+' '+s4+' '+s5

'python is easy and simpal'

In [27]:
' '.join([s1,s2,s3,s4,s5])

'python is easy and simpal'

# Formatting

In [29]:
name = 'sanika'
age = 23
course = 'Ds'

In [30]:
# name od student is sanika and she is 23 yrs old

In [31]:
name

'sanika'

In [32]:
print('Name of student is name and sheis age yrs old. she has taken course course.')

Name of student is name and sheis age yrs old. she has taken course course.

In [33]:
print(f'Name of student is  {name} and she is {age} yrs old. she has taken {course} course.')

Name of student is  sanika and she is 23 yrs old. she has taken Ds course.

# List

In [35]:
lst = []
lst

[]

In [36]:
type(lst)

list

In [37]:
xyz = list()
lst

[]

In [38]:
lst = [10,20,30,14,5,'Hello',True]
lst

[10, 20, 30, 14, 5, 'Hello', True]

In [39]:
lst=[10, 20,True,'Hello',23.5]
lst

[10, 20, True, 'Hello', 23.5]

In [40]:
lst.insert(1,False)
lst

[10, False, 20, True, 'Hello', 23.5]

In [41]:
lst.index('Hello')

4

In [42]:
abc = [12,45,67,89,90]    # creat list of value
abc

[12, 45, 67, 89, 90]

In [43]:
lst.extend(abc)    # adding a multiple value at a time in list
lst

[10, False, 20, True, 'Hello', 23.5, 12, 45, 67, 89, 90]

In [44]:
# Remove value from a list

In [45]:
lst.pop()

90

In [46]:
lst

[10, False, 20, True, 'Hello', 23.5, 12, 45, 67, 89]

In [47]:
lst.pop(0)

10

In [48]:
lst

[False, 20, True, 'Hello', 23.5, 12, 45, 67, 89]

In [49]:
lst.pop(False)

False

In [50]:
lst

[20, True, 'Hello', 23.5, 12, 45, 67, 89]

# Replace  <imp>

In [52]:
lst = [12,56,True,'machine lerning','powerbi']
lst

[12, 56, True, 'machine lerning', 'powerbi']

In [53]:
lst[4]

'powerbi'

In [54]:
lst [4]= 'Mysql'
lst

[12, 56, True, 'machine lerning', 'Mysql']

In [55]:
abc = lst.copy()
abc

[12, 56, True, 'machine lerning', 'Mysql']

In [56]:
lst.count(12)

1

In [57]:
lst

[12, 56, True, 'machine lerning', 'Mysql']

In [58]:
lst.reverse()
lst

['Mysql', 'machine lerning', True, 56, 12]

In [59]:
lst.sort()    # cannot sort diffrent data types.

TypeError: '<' not supported between instances of 'bool' and 'str'

In [ ]:
lst1 = [12,90,65,1,67,45,43]
lst1.sort()              #by default sorts the values in ascending order.

In [ ]:
lst1

In [ ]:
lst1.sort(reverse=True)
lst1                     #sorting value is desending order with reverse parameters.

# Tuple

In [ ]:
xyz = ()
type(xyz)

In [ ]:
xyz = tuple()
type(xyz)

In [ ]:
x = (12,12,45.6,False,"Deep Learning")
x

In [ ]:
x[1]

In [ ]:
x

In [ ]:
x.append(67)      # Addition is not allowed in tuple.

In [ ]:
x.count(12)

In [ ]:
x.index(45.6)

# Dictionary

In [ ]:
details = {}
type(details)

In [ ]:
details = {'Name' : 'Nikita',
          'Age' : 25,
          'Course' : 'DS'}
details

In [ ]:
details.keys()

In [ ]:
details.values()

In [ ]:
details.update({'Date' : 'April 2015'})
details

In [ ]:
details.update({'weight' : 56, 'height' : 5.7})
details

In [ ]:
students = {'name' : {'a','b','c','d','e'},
           'age' : [23,24,21,33,22]}          # Multiple value can be given for a single ke
students

In [ ]:
details

In [ ]:
details['Course']  # we use keys to perform indexing in dictionay.

In [ ]:
details.pop('Height')

In [ ]:
details

In [ ]:
details['Course'] = 'DA'    # replacing value in dictionary.

In [ ]:
details

# set

In [ ]:
s = {}
type(s)

In [ ]:
s = {1,3,5,6,7}
type(s)

In [ ]:
s = {56,43,1,23,90,2}
type(s)

In [ ]:
s

In [ ]:
s1 = {78,34,12,56.98,78.0,True,False,'Python','Machine Learning'}
s1

In [ ]:
s1[0]     # Gives an error as indexing is not allowed.

In [ ]:
s1.add(16)
s1

In [ ]:
s1.pop()

In [ ]:
s1

In [ ]:
s1.remove(34)

In [ ]:
s1

In [ ]:
# imp questions Remove all the duplicate value from list interview question.

# Remove all the duplicated from list

In [ ]:
lst = [1,1,1,2,2,2,3,3,3,4,4,4, 356,78,78]
lst

# Typecating

In [ ]:
A method of changing data type or data structure of any variable

In [ ]:
# int,float,str,bool,list,set,tuple,dict   -> all typecastingfunction in python.

In [ ]:
lst

In [ ]:
unique_set = set(lst)    # Converting list into set to remove all the duplicates.

unique_set
type(unique_set)

In [ ]:
unique_list = list(unique_set)
unique_list

In [ ]:
lst

In [ ]:
final_list = list(set(lst))
type(final_list)

# Conditional Statement

# Understanding the Comparison Operator

In [ ]:
a = 68
b = 23

In [ ]:
a,b

In [ ]:
a == b

In [ ]:
a > b

In [ ]:
a < b

In [ ]:
a != b

In [ ]:
a >= b

In [ ]:
a <= b

# Write a program that checks if a person has given correct password

In [ ]:
original_password = 'admin123'
user_password = 'admin123'


if original_password == user_password:
    print('Access Given!')

In [ ]:
# what if the user password is incorrect ?

original_password = 'admin123'
user_password = 'admin12'

if original_password == user_password:
    print('Access Given!')
else:
    print('Incorrect Password!')

In [ ]:
a = 89
b = 56

a,b

In [ ]:
a > b and a<90

In [ ]:
a > b and a < 78

In [ ]:
a > b or a < 90

In [ ]:
a > b or a < 78

# write a program that checks if a person has given correct password and username.

In [ ]:
original_id = 'admin'
original_password = 12345

user_id = 'admin'
user_password = 12345


if (original_id == user_id and original_password == user_password):
    print('Access Given!')
else:
    print('Access denied!')

# check the given number is positive,negative,or zero

In [ ]:
number =

In [ ]:
if number > 0:
    print('positive')
elif number < 0:
    print('Negative')
else:
    print('Zero')

In [ ]:
1 temperature > 30 ->temprature is high
2 temprature > 20 -> wether is good
3 temprature < 20 -> its a cold outside

In [ ]:
Temprature = 25

if Temprature > 30:
    print('Temprature is high')
elif Temprature > 20:
    print('wether is good')
else:
    print('its a cold outside')

# Check if a user can enter a club(age & membership required).

In [ ]:
age = 16
membership = 'yes'

if(age > 21 and membership == 'yes'):
    print('you can enter the club')
else:
    print('you cannot enter the club')

In [ ]:
# Exampal
Check whether user has debit card or not:
if yes, check whether the withdrawal ammount is less than the available balance.
if yes,print Transaction completed.
is no,print the message accordingly.

In [ ]:
has_card = 'yes'
balance = 50000
withdrawal = 10000

if has_card == 'yes':
    if withdrawal < balance:
        print('Transaction is Completed.')
    else:
        print('Denied transaction due to insufficient balance.')
else:
    print('Denied the transaction due to invalid card.')

# with user input¶

In [ ]:
input()

In [ ]:
age = input('Enter your age:')

In [ ]:
age

In [ ]:
type(age)

In [ ]:
weight = input()    #by default input function converts all values into string data
type(weight)

In [ ]:
name = input()
name

age

In [ ]:
a = int(age)
type(a)

In [ ]:
age = int(input('Enter your age:'))

In [ ]:
age

In [ ]:
type(age)

# Loops

In [ ]:
-1. For Loop / finite
-2. While Loop /Infinity

**Range()**

In [ ]:
# Range(start,end,stepsize)

In [ ]:
range(1,20)

In [ ]:
[range(1,20)]

In [ ]:
list(range(1,20))

In [ ]:
list(range(1,21,2))

In [ ]:
x = set(range(0,20,2))
x

In [ ]:
list(range(20,0,1))

In [ ]:
list(range(20,0,-1))

In [ ]:
list(range(-10,5))

# For Loops

In [1]:
age = [12,45,67,89,90,45,34,23]
age

[12, 45, 67, 89, 90, 45, 34, 23]

In [3]:
for i in age :
    print(i)

12
45
67
89
90
45
34
23

In [5]:
txt = 'We are learning python'

for abc in  txt:
    print(abc)

W
e

a
r
e

l
e
a
r
n
i
n
g

p
y
t
h
o
n

In [7]:
num = 1623488723    # for loop does not work on non iterables.
for i in num:
    print(i)

TypeError: 'int' object is not iterable

In [ ]:
Company = ['amazon','flipkart','nykaa','samsung','apple']
Company

In [10]:
'www.'+'amazon'+'.com'

'www.amazon.com'

In [12]:
Company

NameError: name 'Company' is not defined

In [14]:
for i in Company:
    print(i)

NameError: name 'Company' is not defined

In [16]:
for i in Company:
    print('www.'+i+'.com')

NameError: name 'Company' is not defined

In [ ]:
websites = []

for i in Company:
    x = 'www.'+i+'.com'
    websites.append(x)

In [ ]:
websites

In [ ]:
iterable = means indexing is apply.

In [ ]:
in = is membership operator

In [ ]:
permenantely value store use = sqr.append(i**2)

**2. Concept:range (n) generates numbers from 0 to -1.**

In [ ]:
list(range(1,11))

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
for i in range(1,51):
    print(i**2, end= ' ')

In [ ]:
sqr = []

for i in range(1,51):
    sqr.append(i**2)

In [ ]:
print(*sqr)

In [ ]:
print(sqr, end = ' ,')

**3. Concept: enumerate() provides both index and value.**

In [ ]:
products = ['pizza','chees bread','coffee','burger','garlic bread']
products

In [ ]:
for i in products:
    print(i)

In [ ]:
enumerate(products) this function is use index function

In [ ]:
print('select your order:')

for index,x in enumerate (products,start = 1):
    print(index,x)

In [ ]:
for index,x in enumerate (products,start = 1):
    print(f"{index}.{x}")

# Conditional Statements with Loop

In [ ]:
lst = list(range(1,21))
lst

In [ ]:
123457567%2

In [ ]:
23454672%2

In [ ]:
for i in lst:
    if i%2 == 0:
        print('Even')
    else:
        print('Odd')

In [ ]:
lst =[45,78,67,90,34,213,567,890,567,345]
lst

In [ ]:
evens = []
odd = []

In [ ]:
for i in lst:
    if i%2 == 0:
        evens.append(i)
    else:
        odd.append(i)

In [ ]:
evens,odd

In [ ]:
for i in lst:
    if i%2 == 0:
        evens.append(i)
        print(evens)
    else:
        odd.append(i)

# Control Statements-Break,Continue.

In [ ]:
#transfer statement = break and continue. imp

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
numbers

In [ ]:
# serching without break

for i in numbers:
    if i == 5:
        print('Found it!')
    else:
        print('Not 5 numbers')

In [ ]:
numbers

In [ ]:
for i in numbers:
    if i == 5:
        print('Found it!')
        break
    else:
        print('Not 5 numbers')

In [ ]:
for i in numbers:
    if i == 5:
        print('Found it !')
        break

# Membership Operators

In [ ]:
# in, not in

In [ ]:
txt = 'Python Session'
'P' in txt

In [ ]:
'Session' in txt

In [ ]:
numbers

In [ ]:
'Python' not in numbers

# Login Attempts and check whether username is valid or not

In [ ]:
users = ['abc','xyz','admin','admin123','xyz123']
users

In [ ]:
#check whether username is valid

In [ ]:
username = input('Enter your username:')

if username in users:
    print('Login Successful!.')
else:
    print('Invalid User! Try Again.')

In [ ]:
users

In [ ]:
for i in range(1,4):
    username = input('Enter your username: ')
    if username in users:
        print('Login Successful!')
        break
    else:
        print('Invalid User! Try again.')

# Continue Statement in python

**Skip the value from list**

In [ ]:
lst = list(range(1,21))
lst

In [ ]:
#skip number 8

for i in lst:
    if i == 8:
        continue
    else:
        print(i)

In [ ]:
for i in lst:
    if i < 8:
        continue
    else:
        print(i)

**Filter Emails Spam**

In [ ]:
# type of email
1. pramotional
2. spam
3. regular/ham.

In [ ]:
emails = ['spam-urgent requirement',
         'meeting at 10am',
         'spam-claim your reward',
         'bank statement',
         'spam you won!']
emails

In [ ]:
emails[0]

In [ ]:
for i in emails:
    if 'spam' in i:
        continue
    else:
        print(i)

In [ ]:
for i in emails:
    if i.startswith('spam'):
        continue
    else:
        print(i)

In [ ]:
emails = ['SPAM-urgent requirement',
         'meeting at 10am',
         'Spam-claim your reward',
         'Bank statement',
         'Spam you won!']
emails

In [ ]:
for i in emails:
    if 'spam'in i.upper():
        continue
    else:
        print(i)

In [ ]:
for i in emails:
    if 'spam'in i.lower():
        continue
    else:
        print(i)

**Filter Specific Files**

In [ ]:
files = ['data.csv','image.png','document.pdf','notes.txt','data2.csv','database.sql','banner.png']
files

In [ ]:
for i in files:
    if i.endswith('txt'):
        continue
    else:
        print(i)

In [ ]:
abc = []

for i in files:
    if i.endswith('txt'):
        continue
    else:
        abc.append(i)

In [ ]:
abc

# List Comprehension

In [ ]:
5**2

In [ ]:
# with normal for loop
sqr = []

for i in range(1,21):
    sqr.append(i**2)

In [ ]:
print(*sqr)

In [ ]:
#[output for loop iterable]->syntax(one line)

In [ ]:
abc = [i**2 for i in range(1,21)]

In [ ]:
print(*abc)

# Convert the statement from  Celsius to Fahrenheit.

**(c*9/5)+32 -> Formula to convert celcius to  fahrenheit.**

In [ ]:
celcius = [0,23,24,34,36,38]
celcius

In [ ]:
fah = [(c*9/5)+32 for c in celcius]
fah

**Removing invalid character from list of string.**

In [ ]:
lst = ['-----python---','---is--','fun--','---and--','--easy--']
lst

In [ ]:
[i.strip('-') for i in lst]

In [ ]:
lst = ['!!!python!!!','--is--','fun   ','###and','#easy']
lst

In [ ]:
cleaned_lst = [i.strip('!-#') for i in lst]
cleaned_lst

In [ ]:
# Example

In [ ]:
email = ['abc@gmail.com','xyz@yahoo.com','amit@rediffmail.com','nikita@gmail.com']
email

In [ ]:
abc = 'abc@gmail.com'
abc.split('@')[1]

In [ ]:
domain = [i.split('@')[1] for i in email]
domain

In [ ]:
email = ['abc@gmail.com','xyz@yahoo.com','amit@rediffmail.com','nikita@gmail.com']
email

In [ ]:
email.split('@')

# While Loop

In [ ]:
i = 1
i

In [ ]:
while i < 6:
    print(i)
    i = i + 1    # Increment.

In [ ]:
i = 2
i

In [ ]:
while i < 11:
    print(i)
    i = i + 2

In [ ]:
topics = int(input ('Topics to lern:'))

while topics > 0:
    print(f'Lerning python. Topics left are{topics-1}')
    topics = topics-1
print('python completed')

In [ ]:
topics

# Nested For Loop

In [ ]:
# Imp loop.interview

In [ ]:
#print function use to start new line.

In [ ]:
# understanding nested lists.

In [ ]:
lst = [12,12,34,56,78,89]
lst

In [ ]:
lst1 = [[1,2,3],[4,5,6],[7,8,9]]
lst1

In [ ]:
lst1[0]

In [ ]:
lst1[2]

In [ ]:
lst1[1][1]    #Indexing for nested lists

In [ ]:
lst1[2][2]

In [ ]:
lst1

In [ ]:
for i in lst1:
    print(i)

In [ ]:
lst1

In [ ]:
for i in lst1:
    for j in i:
        print(j)

In [ ]:
for i in lst1:
    for j in i:
        print(j, end =' ')

In [ ]:
for i in lst1:
    for j in i:
        print(j, end = ' ')
    print()

In [ ]:
# printing box of star pattern

In [ ]:
# Square Pattern
for i in range(1,4):
    for j in range(1,4):
        print('*', end = ' ')
    print()

In [ ]:
# Rectangle Pattern
for i in range(1,4):
    for j in range(1,6):
        print('*', end =' ')
    print()

In [ ]:
# Rectangle Triangle.

In [ ]:
for i in range(0,5):
    for j in range(i+1):
        print('*', end = ' ')
    print()

In [ ]:
for i in range(6,0,-1):
    for j in range(i-1):
        print('*', end = ' ')
    print()

In [ ]:
#Multiplication Table.

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end = ' ')
    print()

# Functions

In [178]:
# in-build function = print, type, range.

In [180]:
# Simple Function.

def basic_function():
    print('This is first line')
    print('This is secound line')
print('This is third line')        #this line will run as it is outside of the function.

This is third line

In [182]:
range

range

In [184]:
# Cll Function

basic_function()

This is first line
This is secound line

In [186]:
# Docstring

In [203]:
def addition():
    '''This function will add 7987 and 987.
    this will always return the output 
    as 8974.'''
    print(7987+987)

In [205]:
addition()

8974

In [241]:
rows = 5
for i in range(rows):
    for j in range(rows-i-1):
        print(" ", end=" ")
    for k in range(2*i+1):
        print("*", end= " ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [210]:
for i in range(0,6):
    for j in range(i+1):
        print('*', end =' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [194]:
# range function is dynamic type function

In [243]:
# Function with parameters  $ arguments(Dynamic function)

def dynamic(x,y):
    print(x+y)
    print(x-y)
    print(x*y)
    print(x/y)

In [245]:
dynamic(678,898)

1576
-220
608844
0.755011135857461

In [247]:
dynamic(89,67)

156
22
5963
1.328358208955224

# *args.

In [1]:
#args = argument.

In [3]:
def add(*args):       # *this symbol is use to 1st *args
    print(args)
    print(sum(args))

In [5]:
add (12,45,67)

(12, 45, 67)
124

In [7]:
# palindrom = starting and ending word is same  for ex= wow.

In [9]:
def sentence(*words):
    print(' '.join(words))

In [11]:
sentence ('we', 'are','lerning','python','and','it','is','easy')

we are lerning python and it is easy

In [13]:
# palindrom word

In [15]:
# Reversing string

In [17]:
txt = 'Hello'
txt[::-1]

'olleH'

In [19]:
txt == txt[::-1]

False

In [21]:
def palindrom_checker(word):
    if word == word[::-1]:
        print('palindrom word')
    else:
        print('Not a palindrom')

In [23]:
palindrom_checker('Hello')

Not a palindrom

In [25]:
palindrom_checker('level')

palindrom word

In [251]:
def palindrom_checker(word):
    word = word.lower()
    if word == word[::-1]:
        print('palindrom word')
    else:
        print('Not a palindrom')

In [253]:
palindrom_checker('Level')

palindrom word

In [255]:
# taking a parameter and arguments.

def order_info(customer_id,*products):
    print(f'customer {customer_id} has ordered{products}')

In [257]:
order_info(890,'chrger','wire')

customer 890 has ordered('chrger', 'wire')

In [261]:
i = 2
i

2

In [263]:
while i <=20:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20

# **Kwargs (Key-Word argument).

In [265]:
details = {'Name':'Nikita','Age':23,'City':'Pune'}
details

{'Name': 'Nikita', 'Age': 23, 'City': 'Pune'}

In [267]:
details.values()

dict_values(['Nikita', 23, 'Pune'])

In [269]:
details.keys()

dict_keys(['Name', 'Age', 'City'])

In [271]:
details.items()

dict_items([('Name', 'Nikita'), ('Age', 23), ('City', 'Pune')])

In [273]:
def info(**kwargs):
    print(kwargs)

In [275]:
info(Name = 'Anita', Course = 'DS',Age = 25)

{'Name': 'Anita', 'Course': 'DS', 'Age': 25}

In [277]:
def info(**x):
    for key in x.keys():
        print(key)

In [279]:
info(Name = 'Anita', Course = 'DS',Age = 25)

Name
Course
Age

In [281]:
def info(**x):
    for value in x.values():
        print(value)

In [283]:
info(Name = 'Anita', Course = 'DS',Age = 25)

Anita
DS
25

In [285]:
def info(**details):
    for key, value in details.items():
        print(f"key is {key} and its {value} is {value}")

In [287]:
info(name = 'Anita',Course = 'DS', Age = 25)

key is name and its Anita is Anita
key is Course and its DS is DS
key is Age and its 25 is 25

In [289]:
#Example

def order(**kwargs):
    print('Order Summery: ')
    for key, value in kwargs.items():
        print(f"customer has ordered {value} {key}")

In [291]:
order(pizza = 2, coffee=3, burger = 4)

Order Summery:
customer has ordered 2 pizza
customer has ordered 3 coffee
customer has ordered 4 burger

In [293]:
 # * use argument ,** use keyword argument.

In [295]:
def registration(Name,*topics,**details):
    print(f"Name is {Name}")
    print(f"Interested topics = {topics}")
    print('-'*50)
    print('Additional Details: ')
    for key,value in details.items():
        print(f"{key} = {value}")

In [297]:
registration('Aniket','AI','GenAi','Data Science',Email = 'Aniket@gmail.com',Experiance = 5,Profession = 'DA')

Name is Aniket
Interested topics = ('AI', 'GenAi', 'Data Science')
--------------------------------------------------
Additional Details:
Email = Aniket@gmail.com
Experiance = 5
Profession = DA

# Print and Return.

In [300]:
# print is finction and return is keyword.

In [302]:
def print_bill(quantity):       # print function is temporary value and not save value.
    print(quantity*2)

In [304]:
def return_bill(quantity):     # return finction is save value permanantely.
    return quantity*2

In [306]:
total = print_bill(10)

20

In [79]:
total     # print function gives none value.

In [81]:
print(f" your total bill is {total}")

 your total bill is None

In [83]:
bill = return_bill(34)

In [85]:
print(f" your total bill is {bill}")

 your total bill is 68

In [87]:
bill

68

In [89]:
# Diffrance betn parameters, argument and keyword

# 3. Lambda Function.

In [92]:
# Examples.

def square(number):
    print(number**2)

In [94]:
square(8)

64

In [96]:
square

In [98]:
lambda x:x**2

In [100]:
sqr = lambda x : x**2

In [102]:
sqr

In [104]:
sqr(56)

3136

In [106]:
sqr(7)

49

In [108]:
add = lambda x,y : x + y

In [110]:
add

In [112]:
add(67,90)

157

In [114]:
abc = lambda *words :' '.join(words)
abc

In [116]:
abc('we','are','learning','lambda','functions')

'we are learning lambda functions'

# Map ,Filter Functions.

In [119]:
lst= [12,45,67,89,90,23,34,56,67]
lst

[12, 45, 67, 89, 90, 23, 34, 56, 67]

In [121]:
def square(number):
    return number**2

In [123]:
# map(function,iterable)  -> syntax in map function.

In [125]:
map(square,lst)

In [127]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [129]:
sqrd = list(map(square,lst))
sqrd

[144, 2025, 4489, 7921, 8100, 529, 1156, 3136, 4489]

In [131]:
# task

numbers = ['10','67','89','90','45']
numbers

['10', '67', '89', '90', '45']

In [133]:
map(numbers,lst)

In [135]:

list(map(int,numbers))

[10, 67, 89, 90, 45]

In [137]:
# Filter.

lst = [56,-67,45,89,0,45,-1,-23,-24,-78]
lst

[56, -67, 45, 89, 0, 45, -1, -23, -24, -78]

In [139]:
positive = []

for i in lst:
    if i>0:
        positive.append(i)

In [141]:
positive

[56, 45, 89, 45]

In [143]:
# list(filter(function,iterable))   -> syntax of filter.

In [145]:
def positive(number):
    if number >=0:
        return number

In [147]:
lst

[56, -67, 45, 89, 0, 45, -1, -23, -24, -78]

In [149]:
list(filter(positive,lst))

[56, 45, 89, 45]

In [151]:
def nigative(number):
    if number <=0:
        return number

In [153]:
lst

[56, -67, 45, 89, 0, 45, -1, -23, -24, -78]

In [155]:
list(filter(nigative,lst))

[-67, -1, -23, -24, -78]

In [157]:
def positive(number):
    if number >=0:
        return number
    else:
        return number <=0

In [159]:
list(filter(positive,lst))

[56, -67, 45, 89, 45, -1, -23, -24, -78]

In [161]:
# diffrance between lambada function and user define function.

In [163]:
# diffrance between filter and map function.

In [165]:
lst = list(range(1,51))
print(*lst)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [167]:
names = ['Charger','mobile','laptop','wire','mouse']
names

['Charger', 'mobile', 'laptop', 'wire', 'mouse']

In [169]:
def even_number(number):
    if number % 2 == 0:
        return number

In [171]:
abc = list(filter(even_number,lst))
abc

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [173]:
def filter_len(word):
    if len(word) > 5:
        return word

In [175]:
list(filter(filter_len,names))

['Charger', 'mobile', 'laptop']

# Filter With Lambda.

In [ ]:
emails = ['ankita@gmail.com','nikita@gmil.com','rahul@yahoo.com','pooja@gmail.com']
emails

In [ ]:
list(filter(lambda x : x.endswith('gmail.com'),emails))

In [ ]:
# getting same output with user defined function.

def gmail_id(x):
    if x.endswith('gmail.com'):
        return x

In [ ]:
list(filter(gmail_id,emails))

In [ ]:
# get only even number from a list.

lst = list(range(1,51))
print(*lst)

In [ ]:
list(filter(lambda x : x % 2 ==0, lst))

# Map with Lambda.

In [ ]:
# Capitalize the first letter  of each names.

names

In [ ]:
lambda x : x.capitalize()

In [ ]:
list(map(lambda x : x.capitalize(),names))

In [ ]:
list(map(lambda x : len(x),names))

In [ ]:
#  add currency symbol to price.

prices = [34,56,67,78,89,45]
prices

In [ ]:
list(map(lambda x :f"${x}",prices))

In [ ]:
# Extract just first name from list of customer names.

names = ['Nikita jadhav','priya kumar','sumit kale','manasi mahajan']
names

In [ ]:
list(map(lambda x : x.split()[0],names))

# Exception Handling.

In [236]:
# zero dividion error
num1 = int(input())
num2 = int(input())

 21
 23

In [238]:
num1/num2

0.9130434782608695

In [240]:
try:
    #risky code
except:
    #Exception

IndentationError: expected an indented block after 'try' statement on line 1 (162448469.py, line 3)

In [ ]:
try:
    bill = 6000
    people = int(input('How many people were there? '))
    contri = bill/people
    print(f" The per head Contribution will be {Contri}")
except:
    print('Cannot divide the bill with 0 people!')

In [476]:
try:
    bill = 6000
    people = int(input('How many people were there? '))
    contri = bill/people
    print(f" The per head Contribution will be {Contri}")
except ZeroDivisionError :
    print('Cannot divide the bill with 0 people!')

How many people were there?  four

ValueError: invalid literal for int() with base 10: 'four'

In [478]:
try:
    bill = 6000
    people = int(input('How many people were there? '))
    contri = bill/people
    print(f" The per head Contribution will be {Contri}")
except ZeroDivisionError as e :   #alising in python
    print(e)
    print('Cannot divide the bill with 0 people!')

How many people were there?  four

ValueError: invalid literal for int() with base 10: 'four'

In [480]:
# value error
try:
    age = int(input('Enter your age: '))
    print(age)
except ValueError:
    print('Give age in numerical format!')

Enter your age:  22

22

In [482]:
# Index error